<div id="profile">
	<link rel="stylesheet" type="text/css" href="index.css"
</head>
	<marquee><img class="profile-pic"src="http://vignette3.wikia.nocookie.net/everymanhybrid/images/9/98/Skull_illustration_by_yungtyrant.jpg/revision/latest?cb=20130409004754">
  <img class="profile-pic"src="http://vignette3.wikia.nocookie.net/everymanhybrid/images/9/98/Skull_illustration_by_yungtyrant.jpg/revision/latest?cb=20130409004754">
  <img class="profile-pic"src="http://vignette3.wikia.nocookie.net/everymanhybrid/images/9/98/Skull_illustration_by_yungtyrant.jpg/revision/latest?cb=20130409004754">
  <img class="profile-pic"src="http://vignette3.wikia.nocookie.net/everymanhybrid/images/9/98/Skull_illustration_by_yungtyrant.jpg/revision/latest?cb=20130409004754">
</marquee>
	<marquee><h1>Mac Boyd</h1></marquee>
	<div>
      <h2>Personal Details</h2>
      <p>Birthday: December 30th 2003</p>
      <p>Email: <a href="mailto:macleanboyd@yahoo.com">macboyd80@gmail.com</a></p>
    </div>

    <div>
      <h2>Your Hometown</h2>
      <p>San Mateo, CA, USA</p>
    </div>

    <div>
      <h2>Things I like</h2>
      <p>Death and Destruction, and ASDF movies</p>
    </div>
    <div>
    	<marquee><iframe class="media" width="560" height="315" src="https://www.youtube.com/embed/etE-Y13U3bs" frameborder="0" allowfullscreen></iframe>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/AUNznLT8LLQ" frameborder="0" allowfullscreen></iframe>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/L5inD4XWz4U" frameborder="0" allowfullscreen></iframe>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/hHkKJfcBXcw" frameborder="0" allowfullscreen></iframe>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/DI5_sQ8O-7Y" frameborder="0" allowfullscreen></iframe></marquee>		
    </div>
</div>
